header {
  width: 100%;
  top: 0;
  left: 0;
  background-color: #004658;
  font-size: 16px;
}

.navbar {
  max-height: 80px;
  text-align: center;
  padding: 0;
  margin: 0;
}

li {
  display: inline-block;
  height: 35px;
  text-transform: uppercase;
}

a {
  text-decoration: none;
  color: #f1ecec;
}

.licls {
  margin: 20px;
  margin-bottom: 10px;
}

.footer-wave-svg1 {
  background-color: transparent;
  display: block;
  height: 20px;
  position: relative;
  top: -1px;
  width: 100%;
}
.footer-wave-path1 {
  fill: rgb(240, 244, 244);
}
